<template lang="pug">
  span(v-html="html")
</template>

<script>
let katex = window.katex

export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  computed: {
    html () {
      try {
        return katex.renderToString(this.value, this.$refs.katex)
      } catch (err) {
        console.error(err)
        return `Failed to render: ${err}`
      }
    }
  }
}
</script>
