<template lang="pug">
  span(ref="mq")
</template>

<script>
let MQ = window.MathQuill.getInterface(2)

export default {
  props: ['value'],
  mounted () {
    this.$nextTick(() => {
      this.mq = MQ.StaticMath(this.$refs.mq)
      try {
        this.mq.latex(this.value)
      } catch (err) {
        console.error(err)
      }
    })
  },
  watch: {
    value (value, oldValue) {
      try {
        this.mq.latex(this.value)
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>
