<template lang="pug">
  span(ref="ml") f(x)=
</template>

<script>
import 'mathlive/dist/mathlive.core.css'
import 'mathlive/dist/mathlive.css'
import MathLive from 'mathlive/dist/mathlive'
import probablySameLatexes from './probablySameLatexes'

export default {
  props: {
    value: {
      type: String,
      required: true,
    }
  },
  watch: {
    value (value) {
      this.ensureLatex(value)
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.ml = MathLive.makeMathField(this.$refs.ml)
      this.ml.config.onContentDidChange = () => {
        let newLatex = this.currentLatex()
        if (newLatex !== this.value) {
          this.$emit('input', newLatex)
        }
      }
      this.ensureLatex(this.value)
    })
  },
  methods: {
    ensureLatex (value) {
      try {
        if (!probablySameLatexes(this.currentLatex(), value)) {
          this.ml.perform(['insert', this.value, {
            'insertionMode': 'replaceAll'
          }])
        }
      } catch (err) {
        console.error(err)
      }
    },
    currentLatex () {
      return this.ml.text('latex')
    }
  },
}
</script>
