<template lang="pug">
  span(ref="mq")
</template>

<script>
import '~/assets/mathquill/mathquill.css'
import '~/assets/mathquill/mathquill.js'
import probablySameLatexes from './probablySameLatexes'

let MQ = window.MathQuill.getInterface(2)

export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  watch: {
    value (value) {
      try {
        if (!probablySameLatexes(this.mq.latex(), value)) {
          this.mq.latex(this.value)
        }
      } catch (err) {
        console.error(err)
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.mq = MQ.MathField(this.$refs.mq, {
        handlers: {
          edit: () => {
            let newLatex = this.mq.latex()
            if (newLatex !== this.value) {
              this.$emit('input', newLatex)
            }
          }
        }
      })
      try {
        this.mq.latex(this.value)
      } catch (err) {
        console.error(err)
      }
    })
  },
}
</script>
