<template lang="pug">
div
  section.hero
    .hero-body
      .container
        h1.title Projekt
        .subtitle
          | Obliczanie wykresu entalpi reakcji
          = " "
          KatexMath(value="\\Delta H")
  section.container
    div Math settings
      .block
        b-radio(v-model="mathInput" native-value="mathquill") MathQuill
        b-radio(v-model="mathInput" native-value="mathlive") MathLive
    br
    div Wzór
    component(:is="currentMathInput" v-model="main")
    div gdzie:
    .m-sub(v-for="sub in subs")
      component(:is="currentMathInput" v-model="sub.latex")
      button.button.is-small(@click="addSub(sub, 0)") +
      button.button.is-small.is-danger(@click="remSub(sub)") x
      button.button.is-small(@click="addSub(sub, 1)") +
    .m-sub
      | mnoznik = {{mnoznik}}
    .m-sub
      button.button(@click="addSub") Dodaj podstawienie
    br
    div 
      button.button.is-large.is-link(@click="podstaw" :class="{'is-loading': podstawioneLoading}") Oblicz
    br
    b-notification(type="is-danger" has-icon :active.sync="errorModalActive")
      div Wystapił błąd
      div Sprawdź poprawnosc wzorow
    br
    div podstawione:
    KatexMath(:value="podstawione")
    br
    div Całka:
    KatexMath(:value="calka")
  section.container
    h1.title Wykres
    PlotlyComp(:data="data")
  section.container
    h1.title Wartości końcowe
    <b-table :data="dataKoncowe" :columns="dataKoncoweColumns"></b-table>
    br
    br
    br
    br
</template>

<style lang="scss">
.m-sub {
  padding: 0.25rem 0;
}
</style>

<script>
import KatexMath from '~/components/math/KatexMath'
import MathquillMathInput from '~/components/math/MathquillMathInput'
import MathliveMathInput from '~/components/math/MathliveMathInput'
import PlotlyComp from '~/components/PlotlyComp'

import {API} from '~/src/api'

export default {
  components: {
    KatexMath,
    MathquillMathInput,
    MathliveMathInput,
    PlotlyComp,
  },
  data () {
    return {
      mathInput: "mathquill",
      main: "\\frac{H_r}{T_{\\Delta}}",
      subs: [
        {latex: "T_{\\Delta} = T_2 - T_1"},
        {latex: "T_1 = 900"},
        {latex: "T_2 = 1200"},
        {latex: "H_r = 150"},
      ],
      podstawione: "",
      calka: "",
      podstawioneLoading: false,
      hs: [],
      errorModalActive: false,
      mnoznik: 0,
      dataKoncoweColumns: [
          {
              field: 'name',
              label: 'Nazwa',
          },
          {
              field: 'r0',
              label: 'Różnica z brakiem',
              numeric: true
          },
          {
              field: 'r1',
              label: 'Różnica z na początku',
              numeric: true
          },
        ]
    }
  },
  computed: {
    currentMathInput () {
      if (this.mathInput == "mathlive") {
        return MathliveMathInput
      } else {
        return MathquillMathInput
      }
    },
    data () {
      return this.hs.map(line => {
        return {x: line.T, y: line.H, name: line.name}
      });
    },
    dataKoncowe () {
      return this.hs.map(line => {
        return {
          name: line.name,
          r0: line.H[line.H.length-1] - this.hs[0].H[this.hs[0].H.length-1],
          r1: line.H[line.H.length-1] - this.hs[1].H[this.hs[1].H.length-1],
        } 
      })
    }
  },
  methods: {
    addSub (sub, diff) {
      var index = this.subs.indexOf(sub);
      if (index > -1) {
        this.subs.splice(index+diff, 0, {latex: ""});
      }
    },
    remSub (sub) {
      // https://stackoverflow.com/questions/5767325/how-do-i-remove-a-particular-element-from-an-array-in-javascript
      var index = this.subs.indexOf(sub);
      if (index > -1) {
        this.subs.splice(index, 1);
      }
    },
    podstaw () {
      this.podstawioneLoading = true
      this.$axios.post(API + '/oblicz', {
        main: this.main,
        subs: this.subs.map(sub => sub.latex),
      }).then( response => {
        this.podstawione = response.data.computed_latex
        this.calka = response.data.integral_latex
        this.hs = response.data.hs
        this.mnoznik = response.data.mnoznik
        this.podstawioneLoading = false
      }).catch( () => {
        this.podstawioneLoading = false
        this.errorModalActive = true
      })
    },
  }
}
</script>
