<template lang="pug">
div.m-page-actual2
  header.hero
    .title Projekt
    .subtitle Obliczanie wykresu entalpii reakcji <KatexMath value="\Delta H"/>
  div.m-inputs
    .title Przemiany
    .m-zmiany
      .m-zmiana(v-for="zmiana in zmiany" :key="zmiana.id")
        button.button.is-danger.is-small.is-rounded.m-close(
          @click="usunZmiane(zmiana)"
        )
          b-icon(icon="close")
          span Usuń
        .id {{zmiana.id}}
        b-field(label="Wybierz kształt")
          el-autocomplete(
            :fetch-suggestions="queryKsztalty"
            v-model="zmiana.ksztaltInputValue"
            placeholder="Wybierz kształt"
            @select="wybierzKsztalt(zmiana, $event)"
          )
        template(v-if="zmiana.ksztalt && zmiana.ksztalt.settings_type=='numer01'")
          b-field
            el-slider(
              v-model="zmiana.ksztalt.setting"
              :step="0.01"
              :min="0"
              :max="1"
              @input="ksztaltWasManuallyEdited(zmiana)"
            )
          b-field
            el-input-number(
              v-model="zmiana.ksztalt.setting"
              :step="0.01"
              :min="0"
              :max="1"
              @input="ksztaltWasManuallyEdited(zmiana)"
            )
        template(v-if="zmiana.ksztalt && zmiana.ksztalt.settings_type=='latex'")
          b-field
            MathquillMathInput(v-model="zmiana.ksztalt.setting" @input="ksztaltWasManuallyEdited(zmiana)")
          b-field
            el-switch.m-calkuj(
              v-model="zmiana.ksztalt.integrate"
              active-text="Całkuj"
              inactive-text="Nie całkuj"
              @input="ksztaltWasManuallyEdited(zmiana)"
            )
          b-field(v-if="zmiana.ksztalt.out_exp")
            KatexMath(:value="zmiana.ksztalt.out_exp")
        b-field(label="Temperatury")
          el-slider(
            v-model="zmiana.temp"
            range
            :min="56"
            :max="1550"
          )
        b-field
          div
            el-input-number(
              v-model="zmiana.temp[0]"
            )
            = " "
            el-input-number(
              v-model="zmiana.temp[1]"
            )
        b-field(label="Entalpia")
          el-input-number(
            v-model="zmiana.ent"
          )
      button.button.is-primary(@click="dodajZmiane") Dodaj przemiane
      button.button.is-primary(@click="oblicz" :class="{'is-loading': obliczanie}") Oblicz
  div.m-outputs
    template(v-for="wykres in wykresy")
      .title {{wykres.name}}
      PlotlyComp(:data="wykres.data")
</template>

<style lang="scss">
.m-page-actual2 {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: 25rem auto;

  grid-template-areas: 
    "header header"
    "inputs outputs";

  header {
    grid-area: header;
  }

  .m-inputs {
    grid-area: inputs;

    .m-zmiany {
      display: grid;
      grid-gap: 1rem;

      .m-zmiana {
        border: 1px gray solid;
        border-radius: 1rem;
        padding: 1rem;
        position: relative;

        .m-close {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
        }

        .id {
          color: gray;
          font-size: 0.75rem;
          margin-bottom: 0.5rem;
        }

        span.m-calkuj {
          font-weight: 500 !important;
        }
      }
    }
  }

  .m-outputs {
    grid-area: outputs;
  }

}
</style>

<script>
import KatexMath from '~/components/math/KatexMath'
import MathquillMathInput from '~/components/math/MathquillMathInput'
import PlotlyComp from '~/components/PlotlyComp'

import {API} from '~/src/api'

const uuidv4 = require('uuid/v4');

export default {
  components: {
    KatexMath,
    MathquillMathInput,
    PlotlyComp,
  },
  data() {
    return {
      zmiany: [{
        id: uuidv4(),
        temp: [900, 1200],
        ksztaltInputValue: "Przykładowy",
        ksztalt: {
          name: "Przykładowy",
          type: "latex",
          setting: "(1-x)^2",
          settings_type: "latex",
          integrate: true,
        },
        ent: 150,
      }],
      hs: [],
      obliczanie: false,
      wykresy: [],
    }
  },
  computed: {
    data () {
      console.log(this.hs)
      return this.hs.map(line => {
        return {x: line.T, y: line.H, name: line.name}
      });
    },
  },
  methods: {
    dodajZmiane() {
      this.zmiany.push({
        id: uuidv4(),
        temp: [900, 1200],
        ksztalt: null,
        ent: 150,
      })
    },
    usunZmiane(zmiana) {
      var index = this.zmiany.indexOf(zmiana);
      if (index > -1) {
        this.zmiany.splice(index, 1);
      }
    },
    queryKsztalty(str, cb) {
      console.log('?')
      this.$axios.get(API + '/ksztalty')
      .then( response => {
        cb(response.data.selects.map(v => ({
          value: v.name,
          data: v,
        })))
      })
      .catch( error => {
        this.$dialog.alert({
            title: 'Błąd',
            message: `Wystąpił bład podczas pobierania dostępnych kształtów:</br> ${error.message}`,
            type: 'is-danger',
        })
        console.error(error)
        cb([])
      })
    },
    wybierzKsztalt(zmiana, v) {
      zmiana.ksztalt = v.data
    },
    ksztaltWasManuallyEdited(zmiana) {
      zmiana.ksztaltInputValue = null
      zmiana.ksztalt.out_exp = undefined
    },
    oblicz() {
      this.obliczanie = true
      this.$axios.post(API + '/oblicz2', {
        zmiany: this.zmiany
      }).then( response => {
        this.obliczanie = false
        this.hs = response.data.hs
        this.wykresy = response.data.wykresy
        if(response.data.zmiany) {
          console.log('update zmiany')
          this.zmiany = response.data.zmiany
        }
        console.log(response.data.hs)
        console.log(this.hs)
      }).catch( error => {
        this.obliczanie = false
        this.$dialog.alert({
            title: 'Błąd',
            message: `Wystąpił bład podczas obliczania:</br> ${error.message}`,
            type: 'is-danger',
        })
        console.error(error)
      })
    },
  },
}
</script>
