<template lang="pug">
div test plot
  div(ref="plot")
</template>

<style lang="scss">

</style>

<script>
import {API} from '~/src/api'

const Plotly = window.Plotly

export default {
  components: {
  },
  data () {
    return {
      f_c: [1, 2, 3],
      f_t: [1, 2, 3],
      f_tc: [0, 1, 2],
    }
  },
  mounted () {
    Plotly.plot(this.$refs.plot, [{x: this.t_tc, y: this.t_c}] );
    console.log(API + '/file_data')
    this.$axios.get(API + '/file_data').then(response => {
      console.log(response.data)
      this.f_c = response.data.f_c
      this.f_t = response.data.f_t
      this.f_tc = response.data.f_tc
      this.react()
    })
  },
  methods: {
    react () {
      console.log('react', this.f_c, this.f_tc)
      Plotly.react(this.$refs.plot, [{x: this.f_tc, y: this.f_c}] )
    }
  },
}
</script>
