<template lang="pug">
  div(ref="plot")
</template>

<style lang="scss">

</style>

<script>
const Plotly = window.Plotly

export default {
  props: {
      data: {
          type: Array,
          required: true,
      },
  },
  watch: {
    data () {
      Plotly.react(this.$refs.plot, this.data)
    }
  },
  mounted () {
    Plotly.plot(this.$refs.plot, this.data);
  },
}
</script>
